@charset "utf-8";


*{
    margin: 0px;
    padding: 0px;
  
}


body, html {
    width: 100%;
    height: 100%;
    background: grey url(imagens/fundo.jpg);
    background-size: cover;
  position: absolute;
  
}

::-webkit-scrollbar{
    width: 0vw;
    height: 0vh;
    
    }

main{
    position: relative;
    text-align: center;
   
  
 
    
    
}


div#imagem{
    position: fixed;
    background-color: rgba(6, 84, 110, 0.675);
    color: white;
    width: 70%;
    height: auto;
    margin-left: 20%;
    border-radius: 25px;
   
    
    
   
    
    
}
div#imagem > h1{
    margin: 5px;
    padding: 5px;
    
    }


form{
    background-color: rgb(5, 5, 114);
    text-align: left;
    padding: 10px;
    margin: 5px;
    height: auto;
    border-radius: 15px;
    
}

div#imagem > label {
   
    margin: 3px;
    padding: 5px;
   
   
}

label{
    
    padding: 5px;
    margin: 1px;
    display: inline-block;
   }

   p#cargo{
  text-align: center;
    
   }

   

   p#enviar {
    color: white;
    font-size: large;
    text-align: center;
    padding: 8px;
    

   }

  